*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

body{
    background: white;
}


.nav2{
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.3);
}



/*house view*/

.house-view-section{
    margin: 2.5rem 0 1.5rem;
    font-size: 12px;
}

.house-view-grid{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr;
    border-radius: 6px;
}

.house-view-grid img{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
    max-height: 565px;

  
}

.house-img-container{
    position: relative;
}

.house-img-container .fa-chevron-left{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 2.5em;

}

.house-img-container .fa-chevron-right{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 2.5em;

    
}


.schedule-a-tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    min-width: 1fr;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    max-width: 1fr;
}

.schedule-a-tour h2{
    background: rgba(255, 120, 120, 0.952);
    color: white;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-shadow: 1px 1px rgb(0, 0, 0);
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.384);
}


.tour-form{
    width: 80%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80%;
    
}

.tour-form input{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    border: none;
    font-size: 1em;
}

.tour-form h4{
    margin-bottom: 5px;
}

.tour-types{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 14px;
    max-width: 100%;
    color: rgb(69, 83, 107);

}

.tour-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-type i{
    margin-right: 10px;
    border-radius: 50%;
    color: rgb(230, 230, 230);
}

.tour-type .option-active{
    color: rgb(255, 120, 120);
}

.date-time{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
}

.date input, .time input{
    width: 95%;
}

.name input, .phone input, .email input {
  margin: 0 auto;
  width: 100%;
}

.form-btn{
    text-transform: uppercase;
    border: 1px solid rgb(255, 120, 120);
    background: rgb(255, 120, 120);
    color: white;
    font-size: 1.1em;
    padding: 10px 0;
    border-radius: 6px;
    text-shadow: 1px 1px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.384);
}

/*info section*/
.info-section{
    font-size: 16px;
}

.info-grid{
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr;
    border-radius: 6px;
}

.house-address{
   border-radius: 6px;
    padding: 5% 6%;
}

.house-address h2{
    font-size: 2em;
}


.address-info{
    display: flex;
    align-items: center;
    max-width: 45%;
    margin-top: 8px;
    margin-bottom: 12px;
}

.house-price{
    font-size: 1.5em;
    color: rgb(34, 148, 83);
    text-transform: uppercase;
}

.house-price span{
    margin-left: 8px;
}

.house-info{
    margin-right: 12px;
    flex-basis: 33%;
}

.contact{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.308);
    max-width: 100%;
    border-radius: 6px;
    padding: 10%;
    min-width: 1fr;
    max-width: 1fr;
}

.contact h3{
    font-size: 1.8em;
    margin-bottom: 1rem;
}

.contact-flex{
    display: flex;
    flex-direction: column;
  
}



.details{
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
}

.details *{
    color: rgb(69, 83, 107);
   
}

.details i{
    margin-right: 5px;
    font-size: 1.3em;
}

.contact button{
    background: var(--primary-color);
    padding: 8px 30px;
    color: white;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin-top: 1.2em;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.contact button:hover{
    background: white;
    color: var(--primary-color);
    text-shadow: none;
  
  }

  /*Community*/

  .community{
    
    padding: 50px 30px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    margin-bottom: 90px;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .community ul{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.community ul::after{
    content:'';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background: rgb(219, 219, 219);
}


.community ul li{
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    
}

.community ul li.active{
    background: rgb(255, 120, 120);
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}






/*property desc*/
.community-container{
    height: 100%;
    width: 100%;
}

  .property-desc{
    margin: 30px 0;
    display: none;
  }


  .property-desc h2{
      max-width: 85%;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      color: rgb(219, 90, 90);
      font-weight: normal;
      padding: 10px;
      border-radius: 8px;
      font-size: 1.3rem;
  }

  .property-desc p{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
    color: rgb(69, 83, 107);
    text-transform: uppercase;
    line-height: 25px;
}



/*education*/
.education{
    margin: 30px 0;
    width: 95%;
    margin: 0 auto;
     display: none;

}

.education h2{
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: rgb(219, 90, 90);
    font-weight: normal;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.3rem;
    margin-top: 30px;
}

.education-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 297px);
    column-gap: 20px;
    row-gap: 30px;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.education-item{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-radius: 6px;
    min-width: 297px;
  
}

.education-item *{
    text-transform: uppercase;
}


.school-title{
    margin-bottom: 18px;
    background: rgb(255, 120, 120);
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 0.4rem 1.4rem;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 1rem;
}

.school-name{
    color: rgb(219, 90, 90);
    max-width: 85%;
    text-align: center;
    margin-bottom: 10px;
 
    
}

.school-location{
    text-align: center;
    max-width: 95%;
    margin-top: 0 auto;
    margin-bottom: 20px;
}

.school-info *{
    color: rgb(69, 83, 107);
    font-size: 0.9rem;
}

/*facts/features*/

.facts-features-grid{
     /*display: none;*/
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    display: none;
    grid-template-columns: repeat(auto-fit, 399px);
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    padding: 20px 0;
}

.ff-item{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    min-width: 399px;
}

.ff-item *{
    text-transform: uppercase;
}

.ff-item i{
    font-size: 34px;
    margin-right: 1.3rem;
    color: rgb(219, 90, 90);
}



.ff-item p{
    color: rgb(69, 83, 107);
    font-size: 1rem;
    font-weight: bold;
}

.ff-item span{
    margin-left: 8px;
}

/*community-section*/
.community-section{
    display: none;
}

.community-section-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    
}

.community-section-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    z-index: 2;
    border-radius: 6px;

}

.community-section-img{
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 6px;
    position: relative;
}



.community-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 99;
    text-align: center;
} 

.community-content *{
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-transform: uppercase;
    z-index: 99;
}

.community-content h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
    position: relative;
    padding: 12px 0;
    
    
}

.community-content h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    height: 6px;
    width: 20%;
   

}

.community-section p{
    font-size: 1rem;
    line-height: 25px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    color: rgb(69, 83, 107);
    text-transform: uppercase;
}

/*Modified*/

.community-section.active{
    display: block;
}
.property-desc.active{
    display: block;
}
.education.active{
    display: block;
}
.facts-features-grid.active{
    display: grid;
}




  /*Similar Properties*/
  
  .similar-properties{
      margin: 100px 0;
  }


@media(max-width: 1024px){
    .community-content h1{
        font-size: 2rem;
    }

    

    .community ul li{
        font-size: 0.7rem;
        
        
    }

    .house-view-section{
        font-size: 8px;
    }

    .info-section{
        font-size: 12px;
    }

    
}

@media(max-width: 768px){

    .house-view-section{
        font-size: 12px;
    }

    .info-section{
        font-size: 14px;
    }

    .house-view-grid .schedule-a-tour{
        display: none;
    }

    .house-view-grid, .info-grid{
        grid-template-columns: 1fr;
        row-gap: 20px;
        max-width: 80%;
        box-shadow: none;
    }

    .house-view-grid img, .schedule-a-tour{
        border-radius: 6px;
    }

    .schedule-a-tour{
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        max-width: 80%;
        min-width: 80%;
        margin: 0 auto;
        margin-top: 1.8em;
        font-size: 12px;
    }

    .tour-form{
        margin: 30px 0;

    }

    .tour-types{
        margin-bottom: 20px;
    }

    .email{
        margin-bottom: 20px;
    }
    
    .community-content h1{
        font-size: 1.6rem;
    }

    .community ul{
        flex-direction: column;
        align-items: center;
        
    }

    .community ul li{
    
        margin: 0 auto;
        font-size: 1rem;
        margin-bottom: 12px;
    }

   

    
}

@media(max-width: 590px){

    .house-view-section{
        font-size: 10px;
    }

    .info-section{
        font-size: 12px;
    }

    .schedule-a-tour{
        font-size: 10px;
    }



    .community-content h1{
        font-size: 1.3rem;
    }

   

    .community-section p,  .property-desc p{
        font-size: 0.8rem;
        max-width: 90%;
    }

    .property-desc h2, .education h2{
        font-size: 0.9rem;
    }

    .ff-item{
        max-width: 70%;
        min-width: 70%;
        margin: 0 auto;
    
    }

    .ff-item p{
        font-size: 0.75rem;
    }
   
}